main {
    text-align: center;
}

h1 {
    font-size: clamp(1rem, 7vw, 3rem);
}

.warring {
    font-size: 2rem;
    color: red;
}

.chip {
    display: inline-block;
    padding: 0 0.5rem;
    margin: 0.2rem;
    font-size: 1rem;
    line-height: 2.5rem;
    border: 0.0625rem dashed white;
}

form {
    text-align: left;
}

fieldset {
    border: 0;
}

.from-container {
    display: flex;
    justify-content: center;
}

input {
    margin: 0.50rem;
    font-family: Cursor, serif;
    font-size: 1rem;
    text-decoration: none;
    padding: .50rem;
    border: 0.0625rem solid white;
    transform: scale(100%);
    transition: all .2s ease-out;
}

input:active:focus {
    outline: none;
    border: 0.0625rem solid aqua;
    transform: scale(102%);
    filter: drop-shadow(8px 8px 10px #252525);
}

input:active:hover {
    outline: none;
    border: 0.0625rem solid aqua;
    transform: scale(102%);
    filter: drop-shadow(8px 8px 10px #252525);
}

input:disabled {
    border: 0.0625rem solid gray;
}

input[type=submit] {
    /*padding: 1rem;*/
}

input[type=checkbox] {
    transform: scale(150%);
    padding: 1.25rem;
    accent-color: aqua;
}

input[type=checkbox]:active:hover {
    transform: scale(200%);
    padding: 1.25rem;
    accent-color: aqua;
}

input[type=checkbox]:active:focus {
    transform: scale(200%);
    padding: 1.25rem;
    accent-color: aqua;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 999;
    background-color: transparent;
}

.done {
    padding-top: 1rem;
}
